html

    head
        link(
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        )
        script(
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        )
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        )
        link(rel="stylesheet", href="jogo.css")
        script(
            src="jogo.js"
        )
    body.container
        .row.primeira-linha
            .col-md-12
                i.fas.fa-trophy.d-none

        .row
            .col-md-4           
                i.fas.fa-hand-paper(onclick="papel()")      
            .col-md-4
                i.fas.fa-hand-scissors(onclick="tesoura()")
            .col-md-4
                i.fas.fa-hand-rock(onclick="pedra()")
                
